body{
    background-color: black;
    color: white;
    font-size: 20px;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
}

#navbar-text{
    color: white;
    text-decoration: none;
}

