body{
    background-color: black;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#link{
    text-decoration: none;
}

/* Navbar */
.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    position: fixed; /* Add this line to make the navbar stay in place */
    top: 0; /* Add this line to make the navbar stay at the top of the page */
    left: 0; /* Add this line to make the navbar stay on the left side of the page */
    right: 0; /* Add this line to make the navbar stretch across the entire width of the page */ 
    z-index: 1; /* Add this line to make sure the navbar appears on top of other elements */
    width: 100vw;
    height: 3.25vh;
}

#navbar-text{
    color: white;
    font-size: 2.5vw;
    padding: 0 30px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
}

#navbar-text:hover{
    color: rgba(152, 119, 0, 0.835);
}

/* Footer */
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -5vh;
    background-color: #111;
    color: white;
}
    
.footer-content {
    font-size: 1.65vw;
    row-gap: 1px;
    text-align: center;
}
    
p {
    margin: 0;
    padding: 0;
}
    
/* Homepage */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.hp-text-box{
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    height: 18vw;
    width: 100vw;
    margin-top: -2.5vw; 
}

#hp-subtext-box{
    color: black;
    padding-top: 2vw;
}

#homepage-subtitle{
    font-size: 3vw;
    text-align: center;
}

#homepage-title{
    font-size: 8vw;
    text-align: center;
}

/* About Page */
.about-container {
    text-align: center;
    margin: 50px;
}
    
#about-title {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 10vw;
}
    
#about-text {
    font-size: 2vw;
    line-height: 1.7;
    margin-bottom: 3vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

/* Error Page */
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* takes up the full height of the viewport */
    width: 100vw; /* takes up the full width of the viewport */
}

.error-message {
    font-size: 2vw; /* adjusts font-size to 5% of the viewport width */
    color: white;
    margin-left: 14vw;
    margin-right: 14vw;
    text-align: center;
}

.error-image {
    width: 50vw;
    max-width: 500px; 
    margin-bottom: 3vw;
}

/* Contact Us */
#contact-form{
    margin: 5vh auto; /* Center the form on the page and give it a 5vh margin */
    padding: 5vw;
    background-color: #000000; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin-top: 10vh;
    text-align: center;
    height: 21vw;
    width: 35vw;
    }
    
    #contact-form label{
    font-size: 2vw; 
    font-weight: bold;
    margin-bottom: 1vh; 
    }
    
    #contact-form input[type="text"], #contact-form input[type="email"]{
    padding: 0.5vw; /* Add some padding to the text input fields */
    margin-bottom: 2vh; /* Add some margin to the bottom of the text input fields */
    border-radius: 5px; /* Rounded corners for the text input */
}

#submit-button{
    font-size: 2vw;
    width: 8vw;
    height: 5vh;
}

#contact-title{
    font-size: 5vw;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 8vw; 
}

.contact-text{
    font-size: 2vw;
    line-height: 2.5vh;
    margin-right: 12vw;
    margin-left: 12vw;
    text-align: center;
}

/* Inventory */
.logo-container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto; 
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    column-gap: 2vw;
    row-gap: 4vh;
    }
    
    .manufacturer-logo {
    width: 25vw;
    height: 18vh;
    margin: 1vh 1vw; /* adds a 1% margin to the top and bottom and 1% to the left and right of each image */
    }

#vehicle-title{
    font-size: 7vw;
    text-align: center;
    color: white;
    /* text-decoration: underline; */
    /* text-decoration-color: rgba(255, 0, 0, 0.7); */
    margin-top: 10vw; 
    font-weight: 100;
    text-shadow: 1px 1px rgba(97, 97, 97, 0.522);
}

/* Cars */
.car-listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 7vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
}

.car-listing-box {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin: 1vh 1vw;
    margin-left: auto;
    margin-right: auto;

}


.car-image-container {
    width: 50%;
    height: 25vh;
    row-gap: 10vh;
}

.car-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    row-gap: 10vh;
    box-shadow: 5px 5px 10px 0px #ccc;
}

.car-details-container {
    background-color: #CBCBCB;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 10px 0px #ccc;
    text-decoration: none;
    align-items: center;
}

#car-name{
    font-size: 4vw;
    color: black;
    text-decoration: none;
    margin:1vh 0;
    text-align: center;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-right: 5vw;
}

#car-mileage{
    font-size: 1.5vw;
    color: black;
    margin:1vh 0;
    text-align: center;
}

#car-price {
    font-size: 2.3vw;
    color: black;
    margin:1vh 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

#button{
    background-color: rgba(152, 119, 0, 0.835);
    font-size: 2vh;
    align-items: center;
    box-shadow: 2px 2px black;
    border-radius: 8px;
    margin: 0;
    margin-left: auto;
    margin-top: 2vw;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

#car-details-container-top{
    flex: 1;
    display: flex;
}
    
.car-details-container-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    
